* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.nav {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgb(0 0 0 / 10%);
  height: 70px;
  padding: 20px 36px;
}

.nav__logo-image {
  width: 82.02px;
  height: 25.35px;
}

.hero {
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
}

.hero__image {
  align-self: center;
}

.hero__image>img {
  width: 100%;
}

.hero__description-text {
  max-width: 320px;
}